<div class="container" id="container_form_daftar">
    <form action="/daftar">
        <label for="name">Input Name</label>
        <input type="text" name="name" id="name" class="form-control">
        <label for="email">Input Email</label>
        <input type="email" name="email" id="email" class="form-control">
        <label for="password">Input Password</label>
        <input type="password" name="password" id="password" class="form-control">
        <button class="btn">Submit !</button>
    </form>
</div>