<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Silahkan Login !</h1>
        </div>
        <div class="col-8">
            <form action="/PROJECT-TODO-LIST/login" method="post">
                <label for="email" class="form-label">Masukkan Email</label>
                <input type="text" name="email" id="email" class="form-control">
                <label for="password" class="form-label">Masukkan Password</label>
                <input type="password" name="password" id="email" class="form-control">
                <button class="btn btn-primary mt-4 w-100">Login</button>
            </form>
        </div>
    </div>
</div>