<nav>
    <ul>
        <li><a href="/">Logo</a></li>
        <li><a href="/mytodo">My Todo </a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/daftar">Daftar</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>