* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
  nav ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    nav ul li {
      list-style-type: none;
      margin-right: 2rem; }
      nav ul li a {
        color: #786535;
        transition: all 0.5s ease-in-out; }
        nav ul li a:hover {
          color: goldenrod; }

#container_form_daftar {
  margin-top: 15em; }
  #container_form_daftar button {
    background-color: #2f802f;
    color: white;
    margin-top: 1rem;
    width: 50%; }
  #container_form_daftar label {
    margin-bottom: 0.5rem; }

#container_mytodo {
  margin-top: 8em; }
  #container_mytodo .add-todo .btn {
    margin-top: 1em; }
  #container_mytodo .btn {
    color: white;
    font-weight: bold;
    transition: 0.5s; }
  #container_mytodo #table_todo {
    height: 20em;
    overflow: auto; }
